* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;

}

main {
    margin-left: 290px;
    display: flex;
}

/*============================================== advertisement section start ================================ */
/*============================================== advertisement section start ================================ */
.advertise {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    margin: 50px 290px;
}

.advertise-sec {
    margin-left: 160px;
}

.advertise-title {
    font-family: 'Lobster', cursive;
    color: white;
    font-weight: 700;
    font-size: 70px;
    position: relative;

}

.advertise-title span::before {
    position: absolute;
    top: 0;
    left: 108px;
    width: 0;
}

.advertise-title span {
    animation: animate 2s infinite;

}

/*=============================================header and footer animation======================================== */
@keyframes animate {
    0% {
        color: #DD0000;
    }

    25% {
        color: orangered;
    }

    50% {

        color: white;
    }

    75% {
        color: yellow;
    }

    100% {
        color: green;
    }
}

.advertise-detail {
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    width: 506px;
    height: 78px;
}

.advertise-img {
    width: 581px;
    height: 613px;
}

.advertise-img img {
    width: 100%;
    position: relative;
    bottom: -18px;
    right: 70px;
}

/*============================================== advertisement section button ================================ */
.button {
    text-decoration: none;
    color: white;
    padding: 16px 25px;
    background-color: #DD0000;
    margin-top: 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    transition: all 0.5s ease;
}

.button:hover {
    background-color: #7e0404;
}

/*============================================== advertisement section end ================================ */
/*============================================== advertisement section end ================================ */


/*============================================== navbar section start ================================ */
/*============================================== navbar section start ================================ */

.nav-container {
    background-color: #161616;
    width: 312px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
}


.page {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
}

.page1 a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px 35px;
    border-radius: 10px;

}

.match-color {
    background: #DD0000;
}

.match-color a {
    background-color: #DD0000;
    color: white;
}

.page2 a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px 75px;
    border-radius: 10px;

}

.group-color {
    background: #DD0000;
}

.group-color a {
    background-color: #DD0000;
    color: white;
}

.page3 a {
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    padding: 15px 99px;
    border-radius: 10px;

}

.blog-color a {
    background-color: white;
    color: #161616;
}

.page1 a:hover {
    color: blueviolet;
}

.page2 a:hover {
    color: blueviolet;
}

.page3 a:hover {
    color: blueviolet;
}

/*============================================== navbar section end ================================ */
/*============================================== navbar section end ================================ */


/*============================================== article section start ================================ */
/*============================================== article section start ================================ */

.blogs,
.match-sec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-left: 24px;
}

.blog {
    border: 1px solid rgb(232, 229, 229);
    width: 312px;
    height: 362px;
    border-radius: 10px;
}

.blog-img {
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;

}

.blog:hover {
    box-shadow: 6px 6px 10px gray;
}

.transfar-button {
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 6px 6px 10px rgb(167, 155, 155);
    cursor: pointer;
}

.blog-title {
    margin: 20px;
    font-weight: 600;
    font-size: 18px;

}

.blog-icon {
    display: flex;
    margin: 20px;
}

.clock-comment {
    display: flex;

}

.comment {
    margin-left: 30px;
}

.clock-comment img {
    margin-right: 10px;
}

/*============================================== article section end ================================ */
/*============================================== article section end ================================ */

/*============================================== footer section start ================================ */
/*============================================== footer section start ================================ */

.container {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 444px;
    margin-top: 130px;
}

.footer-title {
    font-weight: 600;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: white;
    position: relative;
}

.footer-title::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
}

.footer-title {
    animation: animate 5s infinite;
}

.container hr {
    margin: 50px 270px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1080px;
}

.footer-info {
    margin-left: 50px;
}

.footer-info a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    margin-right: 60px;
}

/*============================================== social icons added ================================ */

.social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.social-icon a {
    text-decoration: none;
    color: white;
    padding: 0 25px;

}

.icon {
    font-size: 18px;
}

/*============================================== footer section end ================================ */
/*============================================== footer section end ================================ */


/*============================================== matchs page style start ================================ */
/*============================================== matchs page style start ================================ */
/*============================================== matchs page style start ================================ */

.match {
    border: 1px solid #B9B9B9;
    border-radius: 5px;
    width: 312px;
    height: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match:hover {
    box-shadow: 6px 6px 10px gray;
}

.flag-img img {
    width: 93.04px;
    height: 56.18px;
}

.vs {
    margin: 0 21px;
}

.flags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 53px;
}

.teams {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}

.play-time {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}

/*============================================== matchs page style end ================================ */
/*============================================== matchs page style end ================================ */

/*============================================== groups page style start ================================ */
/*============================================== groups page style start ================================ */
/*============================================== groups page style start ================================ */

.groups {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-left: 24px;
}

.group-flag img {
    width: 312px;
    height: 242px;
    border-radius: 8px;
}

.group-flag img:hover {
    box-shadow: 6px 6px 10px gray;
    cursor: pointer;
}

/*============================================== groups page style end ================================ */
/*============================================== groups page style end ================================ */


/*============================================== view button style start ================================ */
.view-button {
    width: 131px;
    height: 47px;
    color: white;
    background: #DD0000;
    border-radius: 5px;
    position: relative;
    left: 1065px;
    margin-top: 30px;
}

/*============================================== view button style end ================================ */



/*=========================================== media quary starts =========================================== */
/*=========================================== media quary starts =========================================== */
/*=========================================== media quary starts =========================================== */



/*=================================== media quary for phone =================================== */
/*=================================== media quary for phone =================================== */

@media screen and (max-width: 767px) {
    main {
        margin: 30px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .advertise-sec {
        margin: 0;
    }

    .advertise {
        flex-direction: column;
        width: 334px;
        height: 472px;
        margin: 30px auto;
    }

    .advertise-title {
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        margin: 10px auto;
    }

    .advertise-detail {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        white-space: wrap;
        text-overflow: ellipsis;
        width: 175px;
        overflow: hidden;
        height: 40px;

    }

    .advertise-img {
        width: 233px;
        height: 245px;
    }

    .advertise-img img {
        bottom: 0px;
        right: -15px;
    }

    .button {
        width: 161px;
        height: 40px;
        font-weight: 400;
        font-size: 20px;
        padding: 8px 12px;
    }

    .nav-container {
        background-color: white;
    }

    .page {
        border: 1px solid black;
        width: 210px;
        height: 48px;
        font-weight: 500;
        font-size: 19px;
        padding: 9px 18px;

    }

    .page1 a {
        padding: 0;
    }

    .page2 a {
        padding: 0;
        margin-left: 35px;
    }

    .page3 a {
        padding: 0px 80px;
        position: relative;
        left: -18px;
    }


    .blogs {
        margin-right: 2px;
    }

    .blogs,
    .match-sec,
    .groups {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
    }

    .footer-title {
        top: 30px;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-info a {
        margin-bottom: 16px;
    }

    .container hr {
        width: 335px;
    }

    .social-icons {
        margin-bottom: 40px;
        margin-top: 0;
    }

    .view-button {
        display: none;
    }
}

/*=================================== media quary for phone end =================================== */
/*=================================== media quary for phone end =================================== */


/*=================================== media quary for tablets start =================================== */
/*=================================== media quary for tablets start =================================== */

@media screen and (min-width:768px) and (max-width:1023px) {
    body {
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    .advertise-sec {
        margin-left: 75px;

    }

    .advertise {
        width: 734px;
        height: 398px;
        position: relative;
        right: 208px;
    }

    .advertise-title {
        width: 289px;
        height: 150px;
        font-weight: 700;
        font-size: 40px;
    }

    .advertise-detail {
        width: 316px;
        height: 48px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 280px;
        overflow: hidden;

    }

    .button {
        width: 161px;
        height: 48px;
        font-weight: 400;
        font-size: 18px;
        padding: 11px 18px;

    }

    .advertise-img img {
        right: 10px;
        top: 116px;
    }

    .blogs,
    .match-sec,
    .groups {
        grid-template-columns: repeat(2, 1fr);
        justify-content: end;
    }

    .blogs {
        position: relative;
        right: 20px;
    }

    .blog-hide {
        display: none;
    }

    .view-button {
        left: 360px;
    }

    .nav-container {
        flex-direction: row;
        width: 834px;
        justify-content: space-evenly;
        height: 150px;
        background-color: white;
        position: relative;
        right: 265px;

    }

    .page {
        border: 1px solid black;
        height: 64px;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }

    .page a {
        position: relative;
        top: 16px;

    }

    .match-sec {
        position: relative;
        right: 5px;
    }

    .container {
        width: 899px;
        height: 345px;
    }

    .container hr {
        width: 734px;
    }

    .footer-info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 15px;
    }

    .last-footer-info {
        position: relative;
        left: 205px;
    }

    .groups {
        position: relative;
        right: 5px;
    }
}

/*======================================= media quary for tab end ========================================== */
/*======================================= media quary for tab end ========================================== */


/*=================================== media quary for desktop start =================================== */
/*=================================== media quary for desktop start =================================== */

@media screen and (min-width:1024px) {
    .view-button {
        display: none;
    }
}

/*=================================== media quary for desktop end =================================== */
/*=================================== media quary for desktop end =================================== */


/*==========================================================================================
                                    Thank you
  ========================================================================================== */